@inject ServiceScope.Services.ISingletonService Singleton
@inject Business.Manager.IUserManager UserManager
<h3>Singleton Partial : @Singleton.GetGuid()</h3>
<h3>UserManager: @UserManager.GetGuid()</h3>
